.menu > .nav-item > .nav-link:hover {
  color: red;
}
.menu > .nav-item > .nav-link{

  font: 600 16px "Poppins", sans-serif;

    color: #051441;
    padding: 0px;
    transition: color 0.3s ease 0s;
    position: relative;

}


@media (min-width: 1024px){
.btn_get.btn_hover{

padding: 10px 30px;
    background: #f13c31;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #f13c31;
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    line-height: normal;
}}

body {
  font: 400    15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #212529;
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
  line-height: 1.5;
  background-color: #fff;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #252b33;
}
.icon-block {
  display: block;
  text-align: center;
  padding: 34px 6px;
  margin-bottom: 30px;
}
.theme-black .technologies-section .technologies-tab .nav-tabs {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
@media only screen and (max-width: 992px){
.technologies-section .technologies-tab .nav-tabs {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
}}


.technologies-section .technologies-tab .nav-tabs {
  border-bottom: 1px solid #eee;
}

.technologies-section .technologies-tab .icon-block {
  display: block;
  text-align: center;
  padding: 34px 6px;
  margin-bottom: 30px;
}


.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #fff #fff #fff;
}

.technologies-section .technologies-tab .nav {
  justify-content: center;
}


@media only screen and (max-width: 1024px)
{
.technologies-section .technologies-tab .icon-block {
    padding: 20px 6px;
}
}

.icon-block h5 {
  font-size: 14px;
  line-height: 24px;
  color: #252b33;
  margin-top: 16px;
}

.icon-block .icon-box {
  height: 50px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;

}
.technologies-section .technologies-tab .nav-link {
  padding: 0 20px 16px;
}
.technologies-tab .nav-link {
  color: #252b33;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 24px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}


.app_banner_contentmt.mt_40 h2 {
  color: #fff;
}
.app_banner_contentmt.mt_40 p {
  color: #fff;
}
.bot {
  bottom: 0;
  right : 0;
  position: fixed;
  width: 350px;
  z-index: 999;
  
}



.svg-sprite {
  background-image: url(https://www.indianic.com/brand-logo-black-sprite.beadcf92b69740a0f313.svg);
  background-repeat: no-repeat;
  display: block;
  height: 70px;
}


.nav-tabs .nav-link {
  border: 0px solid transparent;
  /* border-top-left-radius: 1.25rem; */
  /* border-top-right-radius: .25rem; */
}


body{font-family:Poppins,sans-serif}img{max-width:100%}h1, h2, h3, h4, h5, h6, p{margin:0}
h1{font-size:60px;color:#252b33;font-weight:800;line-height:70px;letter-spacing:-1px}
h2{font-size:40px;color:#252b33;font-weight:800;line-height:55px;letter-spacing:-.5px}
h3{font-size:24px;color:#252b33;font-weight:600;line-height:34px}
p{font-size:16px;color:#252b33;font-weight:400;line-height:28px}
a{transition:all .3s ease-in-out}
a:focus{outline:0}
.link-button{padding:10px 30px;background:#f13c31;color:#fff;font-size:16px;border-radius:30px;border:2px solid #f13c31;font-weight:600;display:inline-block}
.link-button:hover{background:0 0;color:#f13c31}
.button-box{margin-top:60px}
h2.mrg-b{margin-bottom:80px}
.home-loader{width:200px;margin:0 auto;padding-top:60px}


.support_integration_area {
  background: #eaeeff;
  padding-top: 120px;
}
.partner_info .logo_item {
  width: calc(100% / 10);
  margin-bottom: 60px;
}



.support_integration_area {
  background: #eaeeff;
  padding-top: 120px;
}



@media only screen and (max-width: 768px)
{
a.navbar-brand img {
  width: 220px;
  height: 80px;
}
}
@media only screen and (max-width: 375px)
{
a.navbar-brand img {
  width: 150px;
  height: 50px;
}
}