.menu > .nav-item > .nav-link:hover {
  color: red;
}
.menu > .nav-item > .nav-link{

  font: 600 16px "Poppins", sans-serif;

    color: #051441;
    padding: 0px;
    transition: color 0.3s ease 0s;
    position: relative;

}


@media (min-width: 1024px){
.btn_get.btn_hover{

padding: 10px 30px;
    background: #f13c31;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #f13c31;
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    line-height: normal;
}}

body {
  font: 400    15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #212529;
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
  line-height: 1.5;
  background-color: #fff;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #252b33;
}
.icon-block {
  display: block;
  text-align: center;
  padding: 34px 6px;
  margin-bottom: 30px;
}
.theme-black .technologies-section .technologies-tab .nav-tabs {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
@media only screen and (max-width: 992px){
.technologies-section .technologies-tab .nav-tabs {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
}}


.technologies-section .technologies-tab .nav-tabs {
  border-bottom: 1px solid #eee;
}

.technologies-section .technologies-tab .icon-block {
  display: block;
  text-align: center;
  padding: 34px 6px;
  margin-bottom: 30px;
}


.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #fff #fff #fff;
}

.technologies-section .technologies-tab .nav {
  justify-content: center;
}


@media only screen and (max-width: 1024px)
{
.technologies-section .technologies-tab .icon-block {
    padding: 20px 6px;
}
}

.icon-block h5 {
  font-size: 14px;
  line-height: 24px;
  color: #252b33;
  margin-top: 16px;
}

.icon-block .icon-box {
  height: 50px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;

}
.technologies-section .technologies-tab .nav-link {
  padding: 0 20px 16px;
}
.technologies-tab .nav-link {
  color: #252b33;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 24px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}


.app_banner_contentmt.mt_40 h2 {
  color: #fff;
}
.app_banner_contentmt.mt_40 p {
  color: #fff;
}
